*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
display: flex;
height: 100vh;
justify-content: center;
align-items: center;



}

.calculator-container{
position: relative;
width: 300px;
height: 400px;
background-color: gray;

}

.calculator-output{
  width: 90%; 
  margin: 10px auto;
  height: 60px;
  background-color: antiquewhite;
  margin-top: 10px;


}

.calculator-input{
  display: grid;
  justify-content: space-between; 
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px auto;
  gap: 10px; 

}

button {
  font-size: 3rem;
  width: 60px;
}